In [1]:
import numpy as np
import pandas as pd
from math import *
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import f1_score
import itertools

In [2]:
def partitions(n, condition_to_insert = None):
    assert isinstance(n, int), 'n must be an integer'
    assert n > 0, 'n must be a natural number but zero.'

    if(condition_to_insert is None):
        condition_to_insert = lambda partition: True

    a = list(range(n+1))
    tuples = []

    for m in range(2, n+1):
        a[m] = 1

    m = 1
    a[0] = 0

    while(True):

        a[m] = n
        q = m - int(n == 1)

        while(True):
            partition = tuple(a[1:m+1])

            if(condition_to_insert(partition)):
                permutations = list(set(list(itertools.permutations(partition))))
                tuples += permutations

            if(a[q] != 2):
                break

            a[q] = 1
            q -= 1
            m += 1

        if(q == 0):
            break

        x = a[q] - 1
        a[q] = x
        n = m - q + 1
        m = q + 1

        while(n > x):

            a[m] = x
            m += 1
            n -= x

    return tuples

In [3]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [4]:
Y_id = df_test.id
df_train.drop(['id'],axis=1,inplace=True)
df_test.drop(['id'],axis=1,inplace=True)

In [5]:
input_neurons_amount, output_neurons_amount = len(df_train.columns), 2

In [6]:
def hidden_neurons_amount(alpha):
    return alpha * sqrt(input_neurons_amount * output_neurons_amount)

def condition_to_insert(partition):
    return len(partition) <= 2

In [7]:
alpha = [0.5, 2, 3]
hidden_neurons_amounts = [ceil(hidden_neurons_amount(a)) for a in alpha]
hidden_layer_sizes = []

for n in hidden_neurons_amounts:
    tuples = partitions(n, condition_to_insert)
    hidden_layer_sizes += tuples

In [8]:
params = {
    'activation': ['identity', 'logistic','tanh','relu'],
    'hidden_layer_sizes': hidden_layer_sizes,
    'solver': ['lbfgs']
}

In [9]:
gs = GridSearchCV(MLPClassifier(), params, cv=3, scoring='f1_micro', return_train_score=False)

In [10]:
Y_train = df_train.Classification
X_train = df_train.drop(['Classification'],axis=1)

In [11]:
gs.fit(X_train, Y_train);

In [12]:
best_model = gs.best_estimator_

In [13]:
Y_pred = best_model.predict(df_test)

In [14]:
results = pd.DataFrame(data={'Classification' : Y_pred, 'id' : Y_id})

In [15]:
results.to_csv('result.csv', index=False)

In [16]:
pd.read_csv('result.csv')

    Classification   id
0                2  100
1                1   78
2                1   77
3                2  113
4                1   86
5                1   84
6                2   89
7                2   56
8                2   31
9                2   48
10               2  112
11               2   36
12               2   21
13               2   11
14               1   76
15               2   71
16               2   53
17               1   63
18               2   60
19               1   98
20               2   14
21               2   59
22               1   58
23               1   85